# configuration for the firebase project
firebase.json
firebase.js

# react build files
public/
dist/

# folders
.github/
.idea/
**/*/node_modules/

# development files and folders
babel.config.json
tsconfig.json
example/
firebase/
components/FirebaseUI